kkcrc
mysnippets
tramp
ac-comphist.dat
url
.markdown-preview.html
.python-environments
.no-package-refresh-contents

# sessions
session.*

# packages
auto-save-list
elpa
wrepo/*

# package specific records
semanticdb
yasnippets
TAGS
ido.last
.#ido.last
dicts
network-security.data
junk
recentf
amx-items
transient

# for composition
*.elc
eshell
error.log
custom.el
install-scenario.el
install-scenario.elc

# git
!.gitkeep
gitrepo/*
!.gitkeep
