auto-save-list
elpa
kkcrc
semanticdb
yasnippets
TAGS
dicts
install-scenario.el
install-scenario.elc
mysnippets
tramp
ac-comphist.dat
custom.el
junk
recentf
url
network-security.data
session.*
.markdown-preview.html
.python-environments
.no-package-refresh-contents
config/*.elc
*.elc
eshell
